@primaryColor: #5B6578;
@bgColor: white;
@bdColor: #979797;
@gutter: 20px;


.box() {
  box-shadow: 
    0.5px 0.5px 0 1px #cacaca,
    0 2px 4px 0 rgba(0, 0, 0, .14);
  border-radius: 4px 4px 0 0;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lantinghei SC','Open Sans','Arial','Hiragino Sans GB','Microsoft YaHei','\\5FAE\8F6F\96C5\9ED1','STHeiti','WenQuanYi Micro Hei','SimSun', 'sans-serif';
  margin-bottom: 5px;
}

.deer-card {
  position: relative;
  border-radius: 4px;
  background-color: @bgColor;
  border: 1px solid @bdColor; 
  display: flex;
  flex-direction: column;
  // box-shadow: 0 2px 2px rgba( red(@bdColor), green(@bdColor), blue(@bdColor), .8);
  
  margin: 8px;

  .meta {
    box-shadow: none;
    padding: 0;
  }

  h3&-title {
    margin: 0;
    padding: 12px 18px;
    color: @primaryColor;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid @bdColor;
    flex: none;
    justify-content: flex-start;
  }

  &-content {
    padding: 18px;
    flex: auto;
  }

  &-footer {
    padding: 20px;
    border-top: 1px solid @bdColor;
    justify-content: flex-end;
  }

  &-dark {
    background: #5B9FD7;
    .deer-card-title {
      color: white;
      border-bottom: 1px solid rgba( red(@bdColor), green(@bdColor), blue(@bdColor), .4);
    }
  }

  &-full {
    height: 310px;
    flex: 0 1 100%;
  }

  &-large {
    height: 310px;
    flex: 0 1 64%;
  }

  &-half {
    height: 300px;
    flex: 0 1 50%;
  }

  &-third {
    height: 160px;
    flex: 0 1 33%;
  }

  &-quarter {
    height: 180px;
    flex: 0 1 24%;
  }

  &-small {
    height: 160px;
    flex: 0 1 16.7%;
  }

  &-very-small {
    height: 84px;
    flex: 0 1 12.5%;
  }

  &-mini {
    height: 84px;
    flex: 0 1 8.3%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
}


.interval-wrapper {
  position: relative;
}

.hover-value {
  position: absolute;
  font-size: 12px;
  color: #4990E2;
  display: inline-block;
  width: 20px;
  text-align: center;
  transition: all .2s ease-in-out;

  &-upper {
    margin-left: -10px;
    margin-top: 8px;
  }
  &-lower {
    margin-left: -10px;
    margin-top: -20px;
  }
}

.dynamic-title {
  background: white;
  position: absolute;
  font-size: 12px;
  color: #9B9B9B;
  width: 100%;
  padding: 6px 5px;
}
.hover-active-value {
  position: absolute;
  right: 5px;
  top: -24px;
  color: #4990E2;
  font-size: 12px;
}

.hover-active-key {
  position: absolute;
  font-size: 12px;
}


.ac-tooltip{
  background: #fff;
  border-radius: 4px;
  // border: 1px solid #D9D9D9;
  padding: 8px;
  box-shadow: 0 0 4px #aaa;
  z-index: 10;
  transition: top 200ms,left 200ms;
  -moz-transition:  top 200ms,left 200ms;  /* Firefox 4 */
  -webkit-transition:  top 200ms,left 200ms; /* Safari 和 Chrome */
  -o-transition:  top 200ms,left 200ms;
  color: #777;
  .ac-title{
    font-size: 12px;
    padding-left: 2px;
  }
  p {
    margin: 0;
  }
  .ac-list{
    font-size: 12px;
    line-height: 1.5;
    ul, li {
      list-style: none;
      margin: 0;
    }

    ul {
      padding-left: 0;
    }

    .dot {
      width: 6px;
      height: 6px;
      display: inline-block;
      border-radius: 6px;
      margin-right: 5px;
    }
    span {
      display: none;
      color: #666;
      background: #666;
    }
    .ac-item-point{
      width: 6px;
      height: 6px;
      border-radius: 6px;
    }
    .ac-item-text{
      margin-left: 5px;
    }
  }
}


.title {
  .box();
  padding: 14px 24px;
  color: #9B9B9B;
  font-size: 14px;
}


// meta...

.meta {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  line-height: 36px;
  
  &-vertical {
    flex-direction: column;
    margin-bottom: 20px;
    // display: block;
    .meta-item {
      flex: none;
      align-self: center;
      border-left: 0 !important;
      padding-left: 0 !important;
      // &:not(:nth-of-type(1)) {
      //   margin-top: 19px;
      // }
    }
  }

  &-item {
    flex: 1;
    text-align: center;
    display: inline-block;

    &-large {
      text-align: left;
      .meta-title { color: #9B9B9B; }
      .meta-content {
        display: inline-block;
        font-size: 28px; 
        color: #4A4A4A;
        font-weight: 300;
      }
    }
  }
  &-title {
    color: #9B9B9B;
    font-size: 12px;
  }

  &-content {
    color: #666;
    font-size: 16px;

    a {
      color: inherit;
      font-size: 12px;
      text-decoration: none;
    }

   .grow {
      font-size: 18px;
      margin-left: 16px;
      position: relative;
      &::after {
        content: ' ';
        display: inline-block;
        width: 0;
        height: 0;
        position: absolute;
        bottom: 8px;
        right: -15px;
        border: 4px solid transparent;
        border-bottom-color: #9B9B9B;
      }
    }
  }

  &-vertical {
    line-height: 1.25;
    .meta-title {
      display: block;
    }
  }
}

.meta {
  .box();
  padding: 27px 29px;
  
  &-vertical {
    .meta-item:not(:nth-of-type(1)) {
      &::after { 
        border: 0 !important;
      }
    }
  }
  .meta-item {
    text-align: left;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(:nth-of-type(1)) {
      &::after {
        content: ' ';
        top: 5px;
        bottom: 5px;
        width: 1px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-color: inherit;
        position: absolute;
        left: 0;
      }
    }

    &.center {
      padding-left: 0 !important;
      text-align: center;
    }

    .meta-title, .meta-content {
      flex: 0 0 auto;
    }
  }
  .meta-title {
    display: block;
    line-height: 18px;
  }
  .meta-content {
    color: #666666;
    font-size: 18px;
  }
}

.percent-wrapper {
  width: auto;
  margin-right: 40px;
  height: 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;

  .percent-container {
    width: 100%;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #D3D0D0;
    background: #EDEDED;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .08) inset;
  }

  .percent-title, .percent-container, .percent-value {
    display: inline-block;
    flex: 1 1 auto;
  }

  &-large {
    width: 300px;
    margin-right: auto;
    .percent-value {
      color: #9B9B9B;
      font-size: 12px;
      font-weight: 300;
      flex-basis: 80px;
      text-align: right;
    }
  }
  
  
  .percent-title {
    font-size: 12px;
    color: #9B9B9B;
    flex-basis: 140px;
  }

  .percent-content {
    position: absolute;
    min-width: 1px;
    border-radius: 8px;
    background: #9B9B9B;
    left: 0px;
    height: 8px;
    top: -1px;
  }
}

@media (min-width: 960px) {
  .flex-container {
    width: 1208px;
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  html, body {
    width: 100%;
  }
  .flex-container {
    width: 100%;
    overflow-x: hidden;
    .row {
      flex-direction: column;
      margin-left: 0;
    }
    .deer-card {
      &-full, &-large, &-half, &-third, &-quarter {
        flex: 0;
      }

      &-small, &-very-small, &-mini {
        flex: 0 1 50%;
      }
    }
  }
}

.container {
  width: 100%;
  overflow: hidden;
  max-width: none;
  margin: 0 -1px;
}